.Button {
    padding: 4px 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear {
    background: none;
    outline: none;
}

.outlined {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}

.background {
    background: var(--bg-color);
    color: var(--primary-color);
    border: none;
}

.background_inverted {
    color: var(--inverted-primary-color);
    border: none;
    background: var(--inverted-bg-color);
}

.square {
    padding: 0;
    border: none;
    height: var(--font-line-m);
    width: var(--font-line-m);
}

.square.size_s {
    height: var(--font-line-s);
    width: var(--font-line-s);
}

.square.size_m {
    height: var(--font-line-m);
    width: var(--font-line-m);
}

.square.size_l {
    height: var(--font-line-l);
    width: var(--font-line-l);
}

.square.size_xl {
    height: var(--font-line-xl);
    width: var(--font-line-xl);
}

.size_s {
    font-size: var(--font-size-s);
}

.size_m {
    font-size: var(--font-size-m);
}

.size_l {
    font-size: var(--font-size-l);
}

.size_xl {
    font-size: var(--font-size-xl);
}
