.app.dark {
    --bg-color: #3a3a3b;
    --inverted-bg-color: #c4c4c4;
    --primary-color: #c8c8c8;
    --seconday-color: #858585;
    --inverted-primary-color: #000;
    --inverted-seconday-color: #494949;
}
